<div >
  <div class="table-container grid text-center justify-start">
      <h1>Tabla Principal</h1>
      <table class="w-full border border-gray-300 border-collapse text-left overflow-hidden sm:text-sm">
        <thead>
          <tr>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Moroso</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Antigüedad</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300 w-28">Ingresos</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Trabajos</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Créditos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let i = index" class="border-b border-gray-300 hover:bg-gray-50">
            <!-- Mostrar los datos en lugar de un select -->
            <td class="p-3 border-r border-gray-300 sm:p-2">{{ row.moroso }}</td>
            <td class="p-3 border-r border-gray-300 sm:p-2">{{ row.antiguedad }}</td>
            <td class="p-3 border-r border-gray-300 sm:p-2">{{ row.ingresos }}</td>
            <td class="p-3 border-r border-gray-300 sm:p-2">{{ row.trabajo }}</td>
            <td class="p-3 border-r border-gray-300 sm:p-2">{{ row.creditos }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div>
    <!-- Botón para calcular la entropía global -->
    <button (click)="EGlobal()">Calcular Entropía Global</button>
  </div>

  <div *ngIf="EG !== null">
    <p><strong>Entropía Global:</strong> {{ EG }}</p>
  </div>
  <div>
    <div>
      <!-- Botón para calcular las entropías -->
      <button (click)="calcularEntropias()">Calcular Entropías</button>
    </div>
    <p><strong>Ganancia Moroso:</strong> {{ ganancias['moroso'] }}</p>
    <p><strong>Ganancia Antiguedad:</strong> {{ ganancias['antiguedad'] }}</p>
    <p><strong>Ganancia Ingresos:</strong> {{ ganancias['ingresos'] }}</p>
    <p><strong>Ganancia Trabajo:</strong> {{ ganancias['trabajo'] }}</p>
    
  </div>

</div>  
