<div >
  <div class="table-container grid text-center justify-start">
      <h1>Tabla Principal</h1>
      <table class="w-full border border-gray-300 border-collapse text-left overflow-hidden sm:text-sm">
        <thead>
          <tr class="border-b border-gray-300 hover:bg-gray-50">
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Moroso</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Antigüedad</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300 w-28">Ingresos</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Trabajos</th>
            <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Créditos</th>
            <th *ngIf="editarModo" class="p-3 text-gray-600 font-semibold border-r border-gray-300">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let i = index" class="border-b border-gray-300 hover:bg-gray-50">
            <!-- Moroso -->
            <td class="p-3 border-r border-gray-300 sm:p-2">
              <ng-container *ngIf="!editarModo; else editTemplate">
                {{ row.moroso }}
              </ng-container>
              <ng-template #editTemplate>
                <input [(ngModel)]="row.moroso" class="p-1 border border-gray-300 rounded">
              </ng-template>
            </td>
            <!-- Antigüedad -->
            <td class="p-3 border-r border-gray-300 sm:p-2">
              <ng-container *ngIf="!editarModo; else editTemplate2">
                {{ row.antiguedad }}
              </ng-container>
              <ng-template #editTemplate2>
                <input [(ngModel)]="row.antiguedad" class="p-1 border border-gray-300 rounded">
              </ng-template>
            </td>
            <!-- Ingresos -->
            <td class="p-3 border-r border-gray-300 sm:p-2">
              <ng-container *ngIf="!editarModo; else editTemplate3">
                {{ row.ingresos }}
              </ng-container>
              <ng-template #editTemplate3>
                <input [(ngModel)]="row.ingresos" class="p-1 border border-gray-300 rounded">
              </ng-template>
            </td>
            <!-- Trabajo -->
            <td class="p-3 border-r border-gray-300 sm:p-2">
              <ng-container *ngIf="!editarModo; else editTemplate4">
                {{ row.trabajo }}
              </ng-container>
              <ng-template #editTemplate4>
                <input [(ngModel)]="row.trabajo" class="p-1 border border-gray-300 rounded">
              </ng-template>
            </td>
            <!-- Créditos -->
            <td class="p-3 border-r border-gray-300 sm:p-2">
              <ng-container *ngIf="!editarModo; else editTemplate5">
                {{ row.creditos }}
              </ng-container>
              <ng-template #editTemplate5>
                <input [(ngModel)]="row.creditos" class="p-1 border border-gray-300 rounded">
              </ng-template>
            </td>
            <!-- Acción para guardar los cambios -->
            <td *ngIf="editarModo" class="p-3 border-r border-gray-300 sm:p-2">
              <button *ngIf="editarModo" (click)="guardarCambios(i)" class="bg-blue-500 text-white px-2 py-1 rounded">
                Guardar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Botón para activar/desactivar el modo de edición -->
    <div class="mt-4">
      <button (click)="toggleEditMode()" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">
        {{ editarModo ? 'Cancelar Edición' : 'Editar Tabla' }}
      </button>
    </div>
  <div>
    <!-- Botón para calcular la entropía global -->
    <button (click)="EGlobal()">Calcular Entropía Global</button>
  </div>

  <div *ngIf="EG !== null">
    <p><strong>Entropía Global:</strong> {{ EG }}</p>
  </div>
  <div>
    <p><strong>Ganancia Moroso:</strong> {{ ganancias['moroso'] }}</p>
    <p><strong>Ganancia Antiguedad:</strong> {{ ganancias['antiguedad'] }}</p>
    <p><strong>Ganancia Ingresos:</strong> {{ ganancias['ingresos'] }}</p>
    <p><strong>Ganancia Trabajo:</strong> {{ ganancias['trabajo'] }}</p>
    
  </div>

</div>  
